.row{
    
    @mixin clearfix;

    
    @mixin atMedium{

        &__b-margin-until-medium{
        margin-bottom:0;   
        }

        &__medium-4{
            float: left;
            width:33.33%;
        }
        &__medium-8{
            float: left;
            width: 66.66%;
        }

        &__medium-4--larger{
            width:37%; 
        }
        &__medium-8--smaller{
            width:63%;

        }
        
    }
    &__b-margin-until-medium{
        margin-bottom:1rem;   
        }


    /* added the negetive value here to avoid the extra pixel 
    overflow outside to avoid this we use 'overflow:hidden' 
    in wrapper here. */

    &--gutter{
        margin-right:-65px;
    }

    &--gutter > div{
        padding-right: 65px;
        
    }
}