.site-header{
    padding: 10px 0;
    position: absolute;
    z-index: 2;
    
    width:100%;

    @mixin atMedium{
        background-color: rgba($mainblue, .3) ;
    }

    &__btn-container{
        float: right;
    }

    &__logo {
        position: absolute;
        background-color: $mainblue;
        top:0;
        left: 50%;
        transform:translateX(-50%) scale(.8); 
        transform-origin:50% 0;
        padding:25px 30px;

        @mixin atMedium{
            left:auto;
            transform:translateX(0);
        }
    }

    &__menu-icon{
        margin: 20px; 
        height: 20px;
        background-color: #FFF;
        position: absolute;
        top:10px;
        right: 10px;

        @mixin atMedium{
            display: none;
        }

    }
    &__logo__graphic{
        text-indent: -9999px;
    }

    &__menu-content{
        display: none;

        @mixin atMedium{

            display:block;
        }

    }
}  